/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
          url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),  /*Chrome 26+, Opera 23+, Firefox 39+  */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* roboto-300italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('../fonts/roboto-v20-latin_cyrillic-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* roboto-regular - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
} */

 */



html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image:  linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/bc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.container{
    margin: 0 auto;
    width: 1200px;
}

.logotype {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.nav {
    padding-top: 30px;
    margin-bottom: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 611px;
    justify-content: space-between;
}

.nav-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.nav-list__item{
    list-style: none;
    text-transform: uppercase;
}

.nav-list__item a:hover,
.nav-list__item a:focus {
	color: #fce38a;
    cursor: pointer;
    
}

.nav-list a:after {
    background-color: #fce38a;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.nav-list__item-svg{
    fill: #ffffff;
    width: 18px;
    height: 15px;
}

.nav-list a:hover:after,
.nav-list a:focus:after {
  width: 100%;
}

.banner{
    padding-bottom:  130px;
}

.banner__title{
    color: #fff;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 72px;
    width: 820px;
    margin: 0 auto;
    padding-bottom: 125px;
}

.banner__subtitle{
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
}

.learn {
    margin: 0 auto;
    padding-top: 10px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 160px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    border: 3px solid;
} 

.hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

.title{
    margin: 0 auto;
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    padding-top: 30px;
}

.amazing{
    display: block;
    margin-top: 15px;
    font-family: "Monserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333
}

.title::after {
	display: block;
	content: " ";
	border-bottom: 3px solid #f38181;
	width: 60px;
    margin: 0px auto; 
    padding-top: 45px;
} 

.text-container{
    justify-content: center;
    flex-wrap: wrap;
}

.text-menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 66px;
}

.text-items{
    position: relative;
    margin-right: 24px;
    width: 374px;
    padding-left: 80px;
    padding-bottom: 100px;
    background-position: 28px top;
}

.text-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-content{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
}

.text-items:nth-child(1){
    background-image: url(../img/alarm.svg);
    background-repeat: no-repeat;
}

.text-items:nth-child(2){
    background-image: url(../img/graph.svg);
    background-repeat: no-repeat;
}

.text-items:nth-child(3){
    background-image: url(../img/computer.svg);
    background-repeat: no-repeat;
}

.text-items:nth-child(4){
    background-image: url(../img/book.svg);
    background-repeat: no-repeat;
}

.text-items:nth-child(5){
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
}

.text-items:nth-child(6){
    background-image: url(../img/image.svg);
    background-repeat: no-repeat;
} 

 .wrapper-team{
    position: relative;
    background-image:  linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/bc@2x.jpg);
}

.wrapper-team:hover .overlay {
    transform: translate(-10px, -10px);
    transition: all 200ms linear;
    opacity: 1;
  }
  .wrapper-team:hover img {
    transform: translate(-10px, -10px);
    transition: all 200ms linear;
  }

.team-list{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.team-item {
    width: 380px;
  }

.team-desc{
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 96px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: #999999;
    text-align: center;
    max-width: 80%;
}

.team-title {
    width: 380px;
    padding-bottom: 85px;
}

.team-name{
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: center;
}

.team-pos{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #acacac;
    font-size: 15px;
    line-height: 24px;
    justify-content: center;
}

.overlay{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: row;
    background-image: linear-gradient(rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%);
    box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;
    opacity: 0;
  }

.overlay-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.wrapper-team:hover .overlay {
    transform: translate(-10px, -10px);
    transition: all 200ms linear;
    opacity: 1;
}

.wrapper-team:hover img {
    transform: translate(-10px, -10px);
    transition: all 200ms linear;
}

.overlay-list__item{
    width: 60px;
    height: 60px;
    background-color: #fce38a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.overlay-list__item:hover .overlay-list__item-svg{
    fill: #ffffff;
}


.overlay-list__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    fill: #f38181;
}

.overlay-list__item-svg {
    fill: #f38181;
    width: 26px;
    height: 22px;
}
  
.overlay-list__item:not(:last-child) {
    margin-right: 2px;
}

/* .facebook{
    background-image: url(../icons/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter{
    background-image: url(../icons/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pinterest{
    background-image: url(../icons/pinterest.png);
    background-repeat: no-repeat;
    background-position: center;
}

.instagram{
    background-image: url(../icons/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
} */

/* .overlay-list__item:hover {
    background-color: #f38181;
} */


 .info{
    margin: 0;
    width: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333333;
}

.info a{
    color: #f38181;
}

.link-text{
    text-decoration: none;
}

.info::before {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #e5e5e5;
    content: "";
}

.foot {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  

.sub{
    display: flex;
    margin-top: 10px;
}

.sub-text{
    width: 240px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    border-right: none;
    text-transform: capitalize;
    padding-left: 10px;
}

.sub-text {
    width: 240px;
    height: 40px;
    font-family: “Roboto”, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #000000;
    border: 1px solid #e7e7e7;
    border-right: none;
    text-transform: capitalize;
    padding-left: 10px;
}
  
  .sub-button {
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    background: #95e1d3;
    border: none;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 150px;
    cursor: pointer;
} 

 @media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .header {
        background-image: url("../img/bc@2x.jpg");
    }
} 