.html{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: inherit;
}

.body{
	margin: 0 auto;
	padding: 0;
    font-family: "Meried Pro", "PIDisplayfair", "Ubuntu", serif;
    font-weight: 400;
    color: #626262;
    font-size: 14px;
    line-height: 24px; 
}

.wrapper{
	width: 900px;
    margin: 0 auto;
	margin-top: 0px;
    
}

.main-nav {
	padding: 77px 0;
}

.nav-menu {
	margin: 0;
	padding: 0;
	font-size: 0; 
	text-align: center;

}

.site-navigation-item li:last-child {
	margin-right: 0;
}



.site-navigation-item {
	display: inline-block;
	padding: 0;
}

.nav {
	padding: 0;
}

.nav-menu a {
	display: block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
}

.nav-menu li:not(:last-child) {
	margin-right: 120px;
}



.nav-menu a:hover,
.nav-menu a:focus{
    cursor: pointer;
    color: #03f4f4;
}

.hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

.item-menu {
	display: inline-block;
	width: 420px;
	padding-bottom: 90px;
}

.item-menu:not(:nth-child(2n)) {
	margin-right: 60px;
}

.section-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-image {
    margin-bottom: 32px;
}

.container {
	margin: 0 auto;
	padding-bottom: 70px;
}

.content-list {
    list-style: none;
    font-size: 0;
    padding: 0;
}

.content{
    font-size: 0;
}

.article-title {
    margin: 0 auto; 
    margin-bottom: 20px;
    font-size: 30px;
    
}

.article-title {
	font-family: 'Myriad';
	color: #626262;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
}

.box {
	display: inline-block;
	width: 420px;
	padding-bottom: 56px;
}

.box:not(:nth-child(2n)) {
	margin-right: 60px;
}


.article-text {
	margin: 0;
	margin-bottom: 30px;
	font-size: 20px;
}

.article-text {
	font-family: 'Ubuntu', sans-serif;
	color: #b4ad9e;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.article-content {
	margin: 0 auto;
	font-size: 14px;
}

.article-content {
	font-family: 'PlDisplayayfair';
	color: #626262;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
}

.button {
	display: block;
    margin: 0 auto;
    padding: 20px;
	width: 160px;
	height: 60px;
	background-color: #fff;
	border: 1px solid black;
	color: #666666;
	font-family: 'Playfair Display';
	font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
	cursor: pointer;
    color: #03a9f4; 
} 